<div id="page-content-search">
  <div class="container">
    <div class="wide_container_2">
      <div id="tab1" class="tab">
        <div class="col-xs-12 content_2">
          <div class="col-md-10 col-md-offset-1">
            <!-- Range slider -->
            <div class="explore_grid">
              <div class="row">
                <div class="explore col-xs-12">
                  <h2>Properties for rent</h2>
                  <h5 class="team-color col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been the industry's standard </h5>
                </div>
                <form method="post">
                  <div class="col-md-2 col-sm-3">
                    <div class="form-inline">
                      <label class="price-range">Price Range:</label>
                    </div>
                  </div>
                  <div class="col-md-8 col-sm-7">
                    <div class="form-group">
                      <div class="price-range">
                        <input class="price-input" type="text" name="price" value="0;5000000">
                      </div>
                    </div>
                  </div>
                  <div class="select-block no-border pull-right col-sm-2 col-xs-12">
                    <select class="selection">
                      <option>Sort By:</option>
                      <option>Date</option>
                      <option>Price</option>
                      <option>Type</option>
                    </select>
                  </div>	<!-- select-block -->
                </form>
              </div><!-- row -->
            </div>
            <!-- End Range slider -->
            <div class="wide-2">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">AVA High Line 89 - 916 Apartments</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">Prism at Park Avenue South Apar</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">Avalon Morningside Park Apartment</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">Prism at Park Avenue South Apar</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">AVA High Line 89 - 916 Apartments</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">Prism at Park Avenue South Apar</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">Avalon Morningside Park Apartment</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 prop">
                    <div class="wht-cont">
                      <div class="exp-img-2" style="background:url(http://placehold.it/255x200) center;background-size: cover;">
                        <span class="filter"></span>
                        <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                        <div class="overlay">
                          <div class="img-counter">23 Photo</div>
                        </div>
                      </div>
                      <div class="item-title">
                        <h4><a href="property_page.html">Prism at Park Avenue South Apar</a></h4>
                        <p class="team-color">525 W 28th St, New York, NY 10001</p>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <p>Studio - 2 bd</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <p>86 m<span class="rank">2</span></p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                      </div>
                      <hr>
                      <div class="item-title btm-part">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 col-xs-8">
                            <p>$5,000,000</p>
                            <p class="team-color">FOR SALE</p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                            <div class="bookmark" data-bookmark-state="empty">
                              <span class="title-add">Add to bookmark</span>
                            </div>
                            <div class="compare" data-compare-state="empty">
                              <span class="plus-add">Add to compare</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end wide-2 -->
            </div>
            <!-- content_2 -->
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <nav id="nav-below" class="site-navigation paging-navigation navbar">
              <div class="nav-previous"><a href="#">PREV PAGE</a></div>
              <ul class="pagination pagination-lg">
                <li><a href="#">1</a></li>
                <li><span class="active">2</span></li>
                <li><a href="#">3</a></li>
                <li><span class="nav-dots">...</span></li>
                <li><a href="#">5</a></li>
              </ul>
              <div class="nav-next"><a href="#">NEXT PAGE</a></div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
