		<div id="page-content">
			<div class="container-404">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="text-404">
								<div class="col-lg-4 col-md-offset-2 col-md-5 col-sm-offset-0 col-sm-6">
									<h1>404</h1>
								</div>
								<div class="col-md-4 col-sm-6 no-page">
									<span class="sorry">Sorry, no page Found!</span>
									<p> <a routerLink='/'>main page</a>.</p>
								</div>	
							</div>	
						</div>
					</div>	
				</div>	
			</div> 
		</div>
		<!-- end Page Content -->