<div id="page-content">
  <div class="wide-4">
    <div class="container">
      <ol class="breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li class="active">Add School</li>
      </ol>
    </div>
    <div class="container">
      <div class="explore">
        <h2>Create a new School</h2>
        <h5 class="team-color">It is easy and takes 15 min maximum</h5>
      </div>
      <form name="newSchoolForm" #newSchoolForm="ngForm" (submit)="registerSchool(newSchoolForm)">
        <div class="wide-3">
          <div class="explore">
            <div class="property-map-marker"><img src="../../../public/assets/img/marker-full.png" alt="" /><span class="marker-number">1</span></div>
            <div class="prt-cont">
              <div class="property-title">
                <h3>Main Information</h3>
              </div>
            </div>
          </div>
          <div class="prt-cont">
            <hr>
            <div class="form-group">
              <label>School Name:</label>
              <input type="text" class="form-control" placeholder="Enter your title (maximum 250 characters)" required [(ngModel)]="newSchool.name" name="name" #name="ngModel">
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                  <label>Currency</label>
                  <select class="selectin" name="currency" [(ngModel)]="newSchool.currency">
                    <option default>None</option>
                    <option *ngFor="let cur of currency" value="{{cur.value}}">{{cur.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group">
                  <label>Fees:</label>
                  <input type="text" class="form-control" placeholder="$" name='fee' pattern="\d*" required [(ngModel)]='newSchool.fee'>
                </div>
              </div>
              <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="form-group">
                  <label>Owned By: </label>
                  <select class="selectin" name="owned_by" [(ngModel)]="newSchool.owned_by">
                    <option default>None</option>
                    <option *ngFor="let owner of owners" value="{{owner.value}}">{{owner.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="text-area-2">Description:</label>
                  <textarea id="text-area-2" rows="6" cols="45" name="description" class="form-control" [(ngModel)]="newSchool.description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="explore">
            <div class="property-map-marker"><img src="../../../public/assets/img/marker-full.png" alt="" /><span class="marker-number">2</span></div>
            <div class="prt-cont">
              <div class="property-title">
                <h3>Summary</h3>
              </div>
            </div>
          </div>
          <div class="prt-cont">
            <hr>
            <div class="row">
              <div class=" col-md-8 col-sm-8">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Conditions</label>
                      <select class="selectin" name="school_condition" [(ngModel)]="newSchool.school_condition">
                        <option default>No Conditions</option>
                        <option *ngFor="let condition of conditions" value="{{condition.value}}">{{condition.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Interval payment for School Fees</label>
                      <select class="selectin" name="payment_interval" [(ngModel)]="newSchool.payment_interval">
                        <option default>No Payment</option>
                        <option *ngFor="let pay_interval of payment_intervals" value="{{pay_interval.value}}">{{pay_interval.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>School Type</label>
                      <select class="selectin" name="school_type" [(ngModel)]="newSchool.school_type">
                        <option value="none" selected>None</option>
                        <option *ngFor="let type of schoolType" value="{{type.value}}" >{{type.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                    <hr>
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <label>Class Rooms</label>
                      <input type="number" class="form-control" pattern="\d*" name="classrooms" [(ngModel)]="newSchool.no_of_classrooms">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <label>School Bus</label>
                      <input type="number" class="form-control" name="bus-no" [(ngModel)]="newSchool.no_of_bus">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <label>Student/class</label>
                      <input type="number" class="form-control" name="per-class" [(ngModel)]="newSchool.no_of_students">
                  </div>
                </div>
                    <hr>
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <label>Buildings</label>
                      <input type="number" class="form-control" name="buildings" [(ngModel)]="newSchool.no_of_buildings">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <label>Area size of School:</label>
                      <input type="text" class="form-control" placeholder="Enter your area" name="school_size" [(ngModel)]="newSchool.school_size">
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class=" col-md-4 col-sm-4 summary-image">
                <label>Featured Photo</label>
                <div class="featured-image-block" *ngIf="!imageUploaded && !uploader.isUploading">
                  <img src="../../../public/assets/img/camera.png" alt="" class="property-icon camera">
                  <h3> Add Featured Photo</h3>
                  <h5 class="team-color">Lorem Ipsum is simply dummy text of the printing and</h5>
                  <input type="file" class="file" ng2FileSelect [uploader]="uploader">
                </div>
                <div *ngIf="uploader.isUploading">
                  Uploading......
                </div>
                <div *ngIf='imageUploaded'>
                  <cl-image public-id="{{image_public_id}}" [options]='showOptions'></cl-image>
                  <hr>
                  <button type="button" class="btn btn-small btn-danger" (click)="resetImage()">Reset Image</button>
                </div>
              </div>
          </div>
          </div>
          <div class="explore">
            <div class="property-map-marker"><img src="../../../public/assets/img/marker-full.png" alt="" /><span class="marker-number">3</span></div>
            <div class="prt-cont">
              <div class="property-title">
                <h3>Location Information</h3>
              </div>
            </div>
          </div>
          <div class="prt-cont">
            <hr>
            <div class="row">
              <div class="location-info col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" name="country" class="form-control" [(ngModel)]="newSchool.country" required>
                </div>
                <div class="form-group">
                  <label class="">State</label>
                  <select class="selectin" name="state" [(ngModel)]="newSchool.state" required>
                    <option *ngFor="let state of states" value="{{state.value}}">{{state.name}}</option>
                  </select>
                </div>
                <div class="input-group">
                  <label>Address</label>
                  <input type="text" class="form-control" name="address" [(ngModel)]="newSchool.street_address" placeholder="Enter property address" required>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Town/City:</label>
                      <input type="text" class="form-control" name="city" [(ngModel)]="newSchool.city"  required>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Local Government Area:</label>
                      <input type="text" class="form-control" name="lga" [(ngModel)]="newSchool.lga"  required>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Post/ZIP Code:</label>
                      <input type="text" class="form-control" name="zip" [(ngModel)]="newSchool.zip" placeholder="_ _ - _ _ _">
                    </div>
                  </div>
                </div>
              </div>
              <div class="location-map col-md-6 col-sm-6 col-xs-12">
                <!-- <div class="input-group">
                  <label for="address-map">Place on map</label>
                  <input type="text" class="form-control" id="address-map" name="address">
                  <i class="fa fa-search"></i>
                </div> -->
                <!-- <div id="submit-map"></div> -->
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label for="latitude">Coordinates</label>
                      <input type="text" class="form-control" placeholder="Latitude" id="latitude" name="latitude" [(ngModel)]="newSchool.latitude" pattern="\d*">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label for="longitude">&nbsp;</label>
                      <input type="text" class="form-control" placeholder="Longitude" id="longitude" name="longitude" [(ngModel)]="newSchool.longitude" pattern="\d*">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="explore">
            <div class="property-map-marker"><img src="../../../public/assets/img/marker-full.png" alt="" /><span class="marker-number">4</span></div>
            <div class="prt-cont">
              <div class="property-title">
                <h3>Media Files</h3>
              </div>
            </div>
          </div>
          <div class="prt-cont media">
            <hr>
            <!-- <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="featured-image-block">
                  <img src="../../../public/assets/img/files.png" alt="" class="property-icon files">
                  <h3> Add Files</h3>
                  <h5 class="team-color">Lorem Ipsum is simply dummy text of the printing and</h5>
                  <input id="file-upload-2" type="file" class="file" required multiple data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="doc/txt,doc/doc" data-browse-class="btn btn-default" data-browse-label="Add Files">
                  <label for="file-upload-2">
                    <img src="../../../public/assets/img/upload.png" alt="" class="image-upload-icon">Add Files
                  </label>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="featured-image-block">
                  <img src="../../../public/assets/img/gallery.png" alt="" class="property-icon gallery">
                  <h3> Photo Gallery</h3>
                  <h5 class="team-color">Lorem Ipsum is simply dummy text of the printing and</h5>
                  <input id="file-upload-3" type="file" class="file" required multiple data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Add Files">
                  <label for="file-upload-3">
                    <img src="../../../public/assets/img/upload.png" alt="" class="image-upload-icon">Add Files
                  </label>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="featured-image-block">
                  <img src="../../../public/assets/img/plan.png" alt="" class="property-icon plan">
                  <h3> Floor Plans</h3>
                  <h5 class="team-color">Lorem Ipsum is simply dummy text of the printing and</h5>
                  <input id="file-upload-4" type="file" class="file" required multiple data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Add Files">
                  <label for="file-upload-4">
                    <img src="../../../public/assets/img/upload.png" alt="" class="image-upload-icon">Add Files
                  </label>
                </div>
              </div>
            </div> -->
            <div class="input-group">
              <label>Video Presentation:</label>
              <input type="text" class="form-control" name="video_link" [(ngModel)]="newSchool.video_link" pattern="^(http|https):\/\/([a-z]+\.|)[a-zA-Z]+\.(com|co|org|ru|net)" placeholder="Add link to your ">
            </div>
            <!-- <span class="ffs-bs"><a href="#" class="btn btn-small btn-primary">Add Video</a></span> -->
          </div>
          <div class="explore">
            <div class="property-map-marker"><img src="../../../public/assets/img/marker-full.png" alt="" /><span class="marker-number">5</span></div>
            <div class="prt-cont">
              <div class="property-title">
                <h3>Property Features</h3>
              </div>
            </div>
          </div>
          <div class="prt-cont features">
            <hr>
            <div class="row">
              <div id="property-features" class="block">
                <div class="row">
                  <ul class="submit-features">
                    <li class="col-md-4 col-sm-4 col-xs-6" *ngFor="let property of properties">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="{{property.value}}" class="properties" value="{{property.value}}">{{property.name}}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <hr>
              </div>
              <span class="ffs-bs"><button type="submit" class="btn btn-large btn-primary">create school</button></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<simple-notifications [options]="notifyOptions"></simple-notifications>
